@import '../../Utils/variables';

.Button {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  button {
    @include rounded;
    background: $base-color;
    border: none;
    font-size: 18px;
    color: $color-white;
    width: 140px;
    height: 46px;
    font-family: $opensans-regular;
    transition: 0.2s;
    &:hover {
      background: $base-hover;
    }
  }
}
