.Button{
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    button{
        background: #ff8c00;
        border: none;
        font-size: 18px;
        color: #fff;
        outline: none;
        width:140px;
        height: 46px;
        font-family: sans-serif;    
        border-radius: 4px;
        transition: .2s;
        &:hover{
            background: #d57500
        }
    }
}